body {
    background-color: #ece5dd;
  }

  .chat-container {
    width: 800px;
    height: 600px;
    margin: 40px auto;
    background-color: #e6ddda;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  .room-container {
    width: 400px;
    height: 600px;
    margin: 40px 10px;
    background-color: #e6ddda;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  .chat-body {
    height: 520px;
    overflow-y: auto;
    padding: 10px;
  }

  .message {
    max-width: 70%;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .sent {
    background-color: #c6e6eb;
    align-self: flex-end;
    margin-left: auto;

  }

  .received {
    background-color: #ffffff;
    align-self: flex-start;
    margin-right: auto;

  }

  .timestamp {
    font-size: 10px;
    color: gray;
    text-align: right;
    margin-top: 3px;
  }

  .chat-footer input {
    border-radius: 20px;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background: rgb(170, 141, 141);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  .close-btn {
    float: right;
    cursor: pointer;
  }